
/* Increase size of navbar content set automatically by Bootstrap */
.navbar-brand{
    font-size: xx-large;
}

body{
    margin: 10px;
    padding: 10px;
}

/* smooth scroll behavior when any link on navbar is clicked */

html{
    scroll-behavior: smooth;
}

/* setting transition rules for when links and buttons are clicked */

a,button{
    transition: all, 300ms, ease;
}

/* Try to fix the navbar items only on the right */

.navbar, .navbar-nav{
    display: flex;
}

.navbar{
    justify-content: space-around;
    align-items: center;
}

.navbar-nav{
    
    margin: auto;
    font-size: larger;
    gap: 2rem;
}
    

/* setting style changes for when navbar links will be hovered over */

a{
    color: black;
    text-decoration: none;
}

a:hover {
    color: gray;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

/* Since we do not want our navbar logo to be a link, we need to make sure the cursor does not change when 
it hovers over the logo */

.navbar-brand:hover{
    cursor: default;
    text-decoration: none;
}

/* Now we tackle the profile section */

#profile{
    display: flex;
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

#profile{
    display: flex;
    justify-content: center;
    gap:5rem;
    height: 80vh;
}

#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
    height: 80vh;
}


  
  .section-title {
    margin-top: 30px;
    margin-top: 10px;

   text-align: center;
   justify-content: center;
  
    
  }

  .section-container {
    margin-top: 40px; /* You can adjust this value for spacing */
  }



.image-container{
    display: flex;
    height: 300px;
    width: 600px;
    margin: auto 0;
}



.profile-text{
    align-self: center;
    text-align: center;
    margin-bottom: 2rem;
    gap:2rem;
}

.section-container{
    display: flex;
    margin-bottom: 2rem;
    gap:2rem;
}




.socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
    
    
}

.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
    
    
}

.icon{
    cursor: pointer;
    height: 2rem;
}

.btn{
background-color: black;
color: white;
}

.btn:hover{
    background-color: white;
color: black;
}



.tech-stack {
    display: flex; /* Arrange icons in a row */
    justify-content: space-around; /* Align icons to the center */
    gap: 30px; /* Space between icons */
    padding: 20px; /* Optional: add padding around the container */
  }

  .tech-icon{
    width: 60px;
    height: 60px;
    margin: 10px 15px;
   
  }

  .sse-experience{
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .se-experience{
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
  }




