
/* Increase size of navbar content set automatically by Bootstrap */
.navbar-brand{
    font-size: xx-large;
}

body{
    margin: 5px;
    padding: 5px;
}

/* smooth scroll behavior when any link on navbar is clicked */

html{
    scroll-behavior: smooth;
}



/* setting transition rules for when links and buttons are clicked */

a,button{
    transition: all, 300ms, ease;
}

/* Try to fix the navbar items only on the right */

.navbar, .navbar-nav{
    display: flex;
    
}

.navbar{
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top:0;
}

.navbar-nav{
    
    margin: 1px;
    font-size: larger;
    gap: 2rem;
    padding-bottom: 0;
}
    

/* setting style changes for when navbar links will be hovered over */

a{
    color: black;
    text-decoration: none;
}

a:hover {
    color: gray;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

/* Since we do not want our navbar logo to be a link, we need to make sure the cursor does not change when 
it hovers over the logo */

.navbar-brand:hover{
    cursor: default;
    text-decoration: none;
}

/* Now we tackle the profile section */

#profile{
    display: flex;
    padding-top: 4vh;
    height: 96vh;
    margin: 0 5rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.profile-pic{
    border-radius: 10px;
}

#profile{
    display: flex;
    justify-content: center;
    gap:5rem;
    height: 80vh;
}

#education{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
    height: 80vh;
    padding-top: 30px;
}


  
  .section-title {
    margin-top: 30px;
    

   text-align: center;
   justify-content: center;
  
    
  }

  .section-container {
    margin-top: 40px; /* You can adjust this value for spacing */
  }



.image-container{
    display: flex;
    height: 350px;
    width: 600px;
    margin: auto 0;
}

.education-image-container{
    display: flex;
    height: 250px;
    width: 450px;
    margin: auto 0;
}



.profile-text{
    align-self: center;
    text-align: center;
    margin-bottom: 2rem;
    gap:2rem;
}

.section-container{
    display: flex;
    margin-bottom: 2rem;
    gap:2rem;
}




.socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
    
    
}

.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
    
    
}

.icon{
    cursor: pointer;
    height: 2rem;
}

.btn{
background-color: black;
color: white;
}

.btn:hover{
    background-color: white;
color: black;
}

#experience{
    padding-top: 55px;

}

.tech-stack {
    display: flex; /* Arrange icons in a row */
    justify-content: space-around; /* Align icons to the center */
    gap: 30px; /* Space between icons */
    padding: 20px; /* Optional: add padding around the container */
  }

  .tech-icon{
    width: 60px;
    height: 60px;
    margin: 10px 15px;
   
  }

  .sse-experience{
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .se-experience{
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  /*Project section */

  #projects{
    padding-top: 55px;
  }

  .intrusion-detection-system{
    width:30%;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .bank-management-system{
    width:30%;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .real-time-chat{
    width:30%;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  #real-time-chat-icons{
    padding-top: 10px;
  }

  .project-container{
    display: flex;
    justify-content: center;
    gap:10px;
  }


  /* CONTACT INFO SECTION STYLE */

  #contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
  }

  .contact-info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid black ;
    border-radius:12px;
    width:50%;
    gap:2rem;
    margin:1rem auto;
    padding: 0.5rem;
    
  }

  .email-contact-info, .phone-contact-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .email-contact-info>p, .phone-contact-info>p{
    text-align: center;
    align-items: center;
    padding-top: 0.6rem;
    
  }

  .email,.phone{
    cursor: default;
  }






